@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650812675700') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyue:before {
  content: "\e623";
}

.icon-anquansuo:before {
  content: "\e624";
}

